/*★リセット*/
*{
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: normal;
}

/*★基本設定*/
:root{
 /*あにまん掲示板の色のスポイト*/
  /*背景色*/
  --bg1:#104cd0; /*基本色、コテハン等*/
  --bg2:#eef8ff; /*リンク等の色*/
  --bg3:#cff4fc; /*新規スレ作成注意書き等の色*/
  --bg4:#f8d7da; /*書き込み期限の色*/
  --bg5:#d1e7dd; /*お知らせの色*/
  --bg6:#eee; /*リンク(hover)*/
  --bg7:#def; /*リンク(visited)*/
  
  /*背景ライン色*/
  /*bgl1:#104cd0; 基本色 bgl2:#aaa; リンク等の色*/
  --bgl3:#b6effb; /*新規スレ作成注意書き等の色*/
  --bgl4:#f5c2c7; /*書き込み期限の色*/
  --bgl5:#badbcc; /*お知らせの色*/
  
  /*文字色*/
  --fc1:#444; /*ナビゲーションバーなど*/
  --fc2:#0d6efd; /*リンク等の色*/
  --fc3:#055160; /*新規スレ作成注意書き等の色*/
  --fc4:#842029; /*書き込み期限の色*/
  --fc5:#0f5132; /*お知らせの色*/
  --fc6:#dc3545; /*赤*/
  --fc7:#0a58ca; /*リンク(hover)*/
  --fc8:#; /*リンク(visited)*/
  --fc9:#fff;
  --fc10:#000;
}

body {
  font-family:"Helvetica Neue",
              Arial,
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              Meiryo,
              sans-serif;
}

a{
  color:var(--fc2);
}
a:hover{
  color:var(--fc7);
}
a:visited{
  color:var(--fc8);
}

/*★詳細設定*/
h1#logo{
  background-color:var(--bg1);
  color:var(--fc9);
}
h1#logo a.site_top svg#logo_img{
  fill:var(--fc9);
  height:100px;
}
