/*★リセット*/
*{
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: normal;
  box-sizing: border-box;
}

/*★基本設定*/
:root{
 /*あにまん掲示板の色のスポイトメイン*/
  /*背景色*/
  --bg1:#104cd0; /*基本色、コテハン等*/
  --bg2:#eef8ff; /*リンク等の色*/
  --bg3:#cff4fc; /*新規スレ作成注意書き等の色*/
  --bg4:#f8d7da; /*書き込み期限の色*/
  --bg5:#d1e7dd; /*お知らせの色*/
  --bg6:#eee; /*リンク(hover)*/
  --bg7:#def; /*リンク(visited)*/
  
  /*背景ライン色*/
  /*bgl1:#104cd0; 基本色 bgl2:#aaa; リンク等の色*/
  --bgl3:#b6effb; /*新規スレ作成注意書き等の色*/
  --bgl4:#f5c2c7; /*書き込み期限の色*/
  --bgl5:#badbcc; /*お知らせの色*/
  
  /*文字色*/
  --fc1:#444; /*ナビゲーションバーなど*/
  --fc2:#0d6efd; /*リンク等の色*/
  --fc3:#055160; /*新規スレ作成注意書き等の色*/
  --fc4:#842029; /*書き込み期限の色*/
  --fc5:#0f5132; /*お知らせの色*/
  --fc6:#dc3545; /*赤*/
  --fc7:#0a58ca; /*リンク(hover)*/
  --fc8:#; /*リンク(visited)*/
  --fc9:#fff;
  --fc10:#000;
  --fcgr1:#5555ff;
  --fcgr2:#9966ff;
  --fcgr3:#ff6666;
  
  /*あにまんまんのカラーコード*/
  --amm1:#BB95F8; /*全身*/
  --amm2:#7D74C7; /*胴体*/
  --amm3:#F8D790; /*くちばし*/
  --amm4:#F9DFA2; /*つの*/
  --amm5:#91E784; /*目の緑*/
  --amm6:#EE8691; /*目の赤*/
  --amm7:#F2ABE3; /*くち*/
  --amm8:#554D58; /*線*/
  
  --mg1:0 auto;
  
  --sz1:100%;
  --sz2:95%;
  --sz3:75%;
}

body {
  font-family:"Helvetica Neue",
              Arial,
              "Hiragino Kaku Gothic ProN",
              "Hiragino Sans",
              Meiryo,
              sans-serif;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

a{
  color:var(--fc2);
}
a:hover{
  color:var(--fc7);
}
a:visited{
  color:var(--fc8);
}

input, select, textarea{
  width:var(--sz3);
}
@media screen and (max-width: 720px){
  input, select, textarea {
    width:var(--sz2);
  }
}

/*★詳細設定*/
body > header{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1#logo{
  background-color:var(--bg1);
  color:var(--fc9);
  grid-column: 1/-2;
}

h1#logo a.site_top{
    
}

h1#logo a.site_top svg#logo_img{
  fill:var(--fc9);
  width:100px;
  height:100px;
}

header > div.share div{
  width:50px;
  height:50px;
  background-color:var(--amm1);
}

main{
  grid-column: 2;
}
@media screen and (min-width: 721px){
  main{
  padding:10px;
  }
}
@media screen and (max-width: 720px){
  main{
  padding:5%;
  }
}
